target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.ipr
*.iws
out/

*.class
*.log
*.hprof

hs_err_pid*
replay_pid*

*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

*~
.directory

Thumbs.db
.DS_Store

src/main/resources/db.properties
